<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.Ysoup.TokenMemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clipkeyboard</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>카드나 문서를 촬영해 텍스트를 인식하기 위해 카메라 접근이 필요합니다.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>clipkeyboard://open</string>
		<!-- 인스타 스토리로 곧장 보내기. 이게 없으면 인스타그램이 깔려 있어도
		     canOpenURL 이 거짓을 돌려주어 "없는 것"으로 보인다. -->
		<string>instagram-stories</string>
		<string>instagram</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-Bold.ttf</string>
		<string>InstrumentSans-Regular.ttf</string>
		<string>InstrumentSans-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Ysoup.TokenMemo.beacon-flush</string>
	</array>
</dict>
</plist>
